[submodule "terrain"]
	path = terrain
	url = https://github.com/mewo2/terrain
[submodule "voronoi"]
	path = voronoi
	url = git@github.com:bhaprayan/voronoi.git
[submodule "earcut.hpp"]
	path = earcut.hpp
	url = git@github.com:bhaprayan/earcut.hpp.git
